---
layout: base_page
---

<article class="blog-post">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="post-header">
          {% if page.image %}
          <div class="post-featured-image">
            <img src="{{ page.image | relative_url }}" alt="{{ page.title }}">
          </div>
          {% endif %}
          
          <div class="post-meta-top">
            <span class="post-date"><i class="far fa-calendar-alt"></i> {{ page.date | date: "%d de %B, %Y" }}</span>
            <span class="post-author"><i class="far fa-user"></i> {{ page.author | default: "Tiaris" }}</span>
            <span class="post-category"><i class="far fa-folder"></i> {{ page.categories | default: "General" | join: ", " }}</span>
            {% if page.read_time %}
            <span class="post-read-time"><i class="far fa-clock"></i> {{ page.read_time }} min de lectura</span>
            {% endif %}
          </div>
          
          <h1 class="post-title">{{ page.title }}</h1>
        </div>
        
        <div class="post-content">
          {{ content }}
        </div>
        
        <div class="post-footer">
          <div class="post-tags">
            {% if page.tags %}
              <i class="fas fa-tags"></i>
              {% for tag in page.tags %}
                <a href="{{ '/blog/tag/' | relative_url }}{{ tag | slugify }}" class="tag">{{ tag }}</a>
              {% endfor %}
            {% endif %}
          </div>
          
          <div class="post-share">
            <span>Compartir:</span>
            <a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}&url={{ site.url }}{{ page.url | relative_url }}" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url | relative_url }}" target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url | relative_url }}&title={{ page.title | url_encode }}" target="_blank" rel="noopener"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://wa.me/?text={{ page.title | url_encode }} - {{ site.url }}{{ page.url | relative_url }}" target="_blank" rel="noopener"><i class="fab fa-whatsapp"></i></a>
          </div>
        </div>
        
        <!-- Navegación entre posts -->
        <div class="post-navigation">
          <div class="row">
            <div class="col-6 text-left">
              {% if page.previous.url %}
              <a href="{{ page.previous.url | relative_url }}" class="prev-post">
                <i class="fas fa-arrow-left"></i>
                <span>Post anterior</span>
                <h6>{{ page.previous.title }}</h6>
              </a>
              {% endif %}
            </div>
            <div class="col-6 text-right">
              {% if page.next.url %}
              <a href="{{ page.next.url | relative_url }}" class="next-post">
                <span>Post siguiente</span>
                <i class="fas fa-arrow-right"></i>
                <h6>{{ page.next.title }}</h6>
              </a>
              {% endif %}
            </div>
          </div>
        </div>
        
        <!-- Sección de comentarios (opcional) -->
        {% if site.disqus.shortname %}
        <div class="post-comments">
          {% include disqus_comments.html %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</article>